# Uniendo Datos

## .concat()

Si los data frames a concatenar tiene index por default se debe ignorar el index usando ignore_index = True

In [ ]:
import pandas as pd

# Crear DataFrames de ejemplo
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenar verticalmente, axis=0
result = pd.concat([df1, df2])
print(result)

# Concatenar horizontalmente, axis=1
result = pd.concat([df1, df2], axis=1)
print(result)

## .merge()
Para hacer el merge de dos DataFrames. Similar al inner join de sql. Por defecto retorna solo las filas que hacen match

- **on**: Define el campo o column por la que se hace el match, si las columnas se llaman igual en ambos datasets.
- **suffixes**: Define los sufijos para las columnas que se repiten en ambos DataFrames.
- **left_on & right_on**: Se usan cuando las columnas a unir tienen nombres diferentes en cada DataFrame.

El parámetro how en la función .merge() de pandas define el tipo de unión que se realiza entre los DataFrames, similar a los joins en SQL:

- **how='inner'**: Solo incluye las filas con claves que existen en ambos DataFrames (por defecto).
- **how='left'**: Incluye todas las filas del DataFrame izquierdo y los datos coincidentes del derecho. Si no hay coincidencia, rellena con NaN.
- **how='right'**: Incluye todas las filas del DataFrame derecho y los datos coincidentes del izquierdo.
- **how='outer'**: Incluye todas las filas de ambos DataFrames, rellenando con NaN donde no haya coincidencia.

In [2]:
import pandas as pd

# Crear DataFrames de ejemplo
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'nombre': ['Juan', 'Ana', 'Luis'],
    'edad': [25, 30, 22]
})

df2 = pd.DataFrame({
    'id': [2, 3, 4],
    'edad': [25, 30, 22]
})

result = df1.merge(df2, on='id', suffixes=('_df1', '_df2'))
print(result)

   id nombre  edad_df1  edad_df2
0   2    Ana        30        25
1   3   Luis        22        30