# Databases
Usando pandas se debe crear primero el engine y luego se puede usar para ejecutar consultas.

## .read_sql_query()

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')

df = pd.read_sql_query("SELECT * FROM Orders", engine)

df = pd.read_sql_query('Orders', engine) #Carga toda la tabla Orders sin usar sql.

## .to_sql()
Permite almacenar un dataframe en una tabla de una base de datos.
```python
DataFrame.to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None, method=None)
```
- **name (requerido)**: El nombre de la tabla donde se guardarán los datos.
- **con (requerido)**: La conexión a la base de datos. Puede ser un objeto de conexión compatible con DB-API o un motor de SQLAlchemy.
- **if_exists**: Controla qué hacer si la tabla ya existe:
    - 'fail' (por defecto): Lanza un error.
    - 'replace': Borra la tabla existente y la reemplaza.
    - 'append': Añade los datos a la tabla existente.
- **index**: Si es True (por defecto), incluye el índice del DataFrame como una columna en la tabla SQL. Si es False, no se guarda el índice.
- **index_label**: Especifica el nombre de la columna del índice en la tabla SQL. Solo se usa si index=True.

In [1]:
import pandas as pd
import sqlite3

# Crear un DataFrame de ejemplo
data = {
    'name': ['Juan', 'Ana', 'Luis'],
    'age': [25, 30, 28],
    'city': ['Madrid', 'Barcelona', 'Valencia']
}
df = pd.DataFrame(data)

# Crear una conexión a SQLite
con = sqlite3.connect('data/example.db')

# Guardar el DataFrame en una tabla llamada "people"
df.to_sql('people', con, if_exists='replace', index=False)

# Verificar los datos guardados
result = pd.read_sql('SELECT * FROM people', con)
print(result)

# Cerrar la conexión
con.close()

   name  age       city
0  Juan   25     Madrid
1   Ana   30  Barcelona
2  Luis   28   Valencia