# Databases

## sqlalchemy
Libreria que permite conectarse a bases de datos.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Chinook.sqlite')
table_names = engine.table_names()

## Query Databases

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')

with engine.connect() as con:
    rs = con.execute('SELECT * FROM Orders')
    df = pd.DataFrame(rs.fetchall()) #Obtiene todas las filas.
    df = pd.DataFrame(rs.fetchmany(size=5)) # Obtiene 5 filas.
    df.columns = rs.keys() # Setear los nombres de las columnas.

print(df.head())